.login-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: #152850;
}
.login-left-side-section {
  background-size: cover;
  background-color: #e0eefe;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
.login-image {
  height: 80%;
  width: 60%;
}
.login-right-side-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 60px;
}
.login-card {
  height: 60%;
  width: 80%;
  border-radius: 10px;
}
.welcome-back {
  font-family: 'Roboto';
  font-size: 24px;
  color: #152850;
}
.form-container {
  height: 70%;
  width: 90%;
}
.label {
  font-family: 'Roboto';
  font-size: 18px;
  color: #152850;
}
.input-element {
  height: 30px;
  width: 90%;
  border-radius: 4px;
  border: 1px solid #5a7184;
  outline: none;
  cursor: pointer;
  margin-top: 6px;
  margin-bottom: 20px;
  width: 100%;
}
.login-button {
  height: 30px;
  width: 120px;
  margin-top: 20px;
  border-radius: 4px;
  border: none;
  background-color: #1565d8;
  color: #ffffff;
  text-align: center;
}
.error-message {
  color: red;
}